---
interface Props {
  href: string;
  title: string;
  description: string;
  timeAllowed: number;
  numberOfQuestions: number;
}

const { href, title, description, timeAllowed, numberOfQuestions } = Astro.props;
---

<a 
  href={href}
  class="block bg-white rounded-lg border border-gray-200 hover:border-primary hover:shadow-md transition-all p-6"
>
  <h3 class="font-semibold text-lg mb-2">{title}</h3>
  <p class="text-gray-600 text-sm mb-4">{description}</p>
  <div class="flex items-center justify-between text-sm text-gray-500">
    <span class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
      </svg>
      {timeAllowed} min
    </span>
    <span class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
        <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd" />
      </svg>
      {numberOfQuestions} preguntas
    </span>
  </div>
</a> 